<script>
  $(function() {
    $('.tasks').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
</script>

<script type="text/javascript">
  import { Calendar } from '@fullcalendar/core';
  import dayGridPlugin from '@fullcalendar/daygrid';

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new Calendar(calendarEl, {
      plugins: [ dayGridPlugin ]
    });

    calendar.render();
  });
</script>


<br />



<div class="booyah-box col-12">
  <h1 class="text-center">SCHEDULE</h1>
  <hr />    
    <% @schedules.each do |schedule| %>
      <div class="row">
        <div class="booyah-box col-3 left">
        
          <h3 class="text-center"><%= schedule.project.job_name %></h3>

          <h4 class="text-center">Location: <%= schedule.location %></h4>
          <h4 class="text-center">Lot Count: <%= schedule.lot_count %></h4>
        </div>
        <div class="booyah-box col-9">
          <div id="calendar"></div>
        </div>
      </div>
      <br>
    <% end %>
  
</div>
<br>
<div class="booyah-box col-12">
  
  <div class="booyah-box col-12">
    <div><h4 class="left">TASKS: </h4><%= link_to 'Add Task', new_admin_task_path, class: 'nav-link' %></div>
      <ul class="tasks">
      <% @tasks.each do |task| %>
        <li id="drag" data-item-id="<%= schedule_task_path(task) %>">
          <b><%= task.title %></b>
          -
          <%= task.description %>
        </li>
      <% end %>
    </ul>
    <br>
  </div>
  <div class="booyah-box col-12">
    <div><h4 class="left">CREWS: </h4><%= link_to 'Add Crew', new_admin_crew_path, class: 'nav-link' %></div>
    <br>
  </div>
  <div class="booyah-box col-12">
    <div><h4 class="left">Equipment: </h4><%= link_to 'Add Equipment', new_admin_equipment_path, class: 'nav-link' %></div>
    <br>
  </div>
  <div class="booyah-box col-12">
    <h4 class="left">MY GROUPS:</h4>
    <br>
  </div>
</div>
<br>
<div class="booyah-box col-12">
  <h4 class="left">CONFLICTS:</h4>
  <br>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#calendar").fullCalendar();
  });
</script>