<br />


  <h1>My Projects</h1>
  <br>
  <% current_user.projects.each do |project| %>
  <div class="booyah-box col-10 offset-1">
    <h3 class="text-center" id="title">
      <%= project.builder %> - <%= project.job_name %>
    </h3>
    <br>
    <div class="row project-info">
      <div class="col-6">
        <h6><b>Address:</b> <%= project.address %></h6>
        <h6><b>City:</b> <%= project.city %></h6>
        <h6><b>State:</b> <%= project.state %></h6>
        <h6><b>Zip:</b> <%= project.zip %></h6>
      </div>
      <div class="col-6">
        <h6><b>Builder Super:</b> <%= project.supervisor %>
        <h6><b>Phone:</b> <%= project.phone %></h6>
        <h6><b>Lots:</b> <%= project.lots %></h6>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12 text-center">
      <%= link_to "More Info...", project_path(project), class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
    <br>
  </div>
  <br>
  <% end %>
