<!DOCTYPE html>
<html>
  <head>
    <title>Morph</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="noscroll">
    <nav class="navbar navbar-toggleable-md navbar-light bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a><%= link_to 'Morph', root_path, class: 'navbar-brand' %></a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'My Dashboard', dashboard_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
            <%= link_to 'Schedule', schedules_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
            <%= link_to 'New Project', new_admin_project_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'New Company', new_organization_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-3">
            <b>Companies</b>
            <br />
            
          </div>
          <div class="col-12 col-sm-3">
            <b>About</b>
            <br />
            <%= link_to 'Team', '#' %>
            <br />
            <%= link_to 'Careers', '#' %>
            <br />
            <%= link_to 'Privacy Policy', '#' %>
          </div>
          <div class="col-12 col-sm-3">
            <b>Contact</b>
            <br />
            alexhoyer22@gmail.com
            <br />
            One Kendall Square
            <br />
            Cambridge MA, 02113
          </div>
          <div class="col-12 col-sm-3">
            <b>Social</b>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      // 1. Get a target element that you want to persist scrolling for (such as a modal/lightbox/flyout/nav).
      // Specifically, the target element is the one we would like to allow scroll on (NOT a parent of that element).
      // This is also the element to apply the CSS '-webkit-overflow-scrolling: touch;' if desired.
      const targetElement = document.querySelector("#noscroll");
       
      // 2. ...in some event handler after showing the target element...disable body scroll
      bodyScrollLock.disableBodyScroll(targetElement);
       
      // 3. ...in some event handler after hiding the target element...
      bodyScrollLock.enableBodyScroll(targetElement);
    </script>
  </body>
</html>
